<div>
  <video id="local-video" autoplay></video>
  <video id="remote-video" autoplay></video>

  <button id="connect">Connect</button>
  <button id="call">Call</button>
  <button id="hangup">Hang Up</button>
</div>

<script src="//cdn.temasys.com.sg/adapterjs/0.10.x/adapter.debug.js"></script>
