<!DOCTYPE html>
<html>
  <head>
    <title>Data Punnet</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class='navbar navbar-light bg-faded'>
      <div class='container d-flex justify-content-between align-items-center'>
        <a href='http://datapun.net' class='navbar-brand'>Data Punnet</a>
        <span class='navbar-text'>
          <a href='http://github.com/erikperkins/phoenix_app'
            class='lead text-default navbar-brand' target='_blank'>
            <i class='fa fa-github fa-2x'></i>
          </a>
        </span>
      </div>
    </nav>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </div>
</html>
