<!DOCTYPE html>
<html>
  <head>
    <title>Data Punnet</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class='navbar navbar-light bg-faded'>
      <div class='container d-flex justify-content-between align-items-center'>

        <big class="text-muted">
          <%= link "Data Punnet", to: main_path(@conn, :index) %>
          <%= for path <- path_tree(@conn) do %>
            / <%= path_link(path) %>
          <% end %>
        </big>

        <big class="navbar-text">
          <%= link to: "http://github.com/erikperkins/datapunnet",
              class: "lead text-default navbar-brand", target: "_blank" do %>
            <i class='fa fa-github'></i>
          <% end %>

          <%=
            case Plug.Conn.get_session(@conn, :user_id) do
              nil -> nil
              user_id ->
                link to: user_path(@conn, :show, user_id),
                  class: "lead text-default navbar-brand" do
                HTML.raw("<i class='fa fa-user-circle-o text-info'></i>")
              end
            end
          %>

          <%= link to: session_path(@conn, :update), method: :patch,
              class: "lead text-default navbar-brand" do %>
            <%= session_icon(@conn) %>
          <% end %>
        </big>
      </div>
    </nav>

    <p class="alert alert-info text-center" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-success text-center" role="alert"><%= get_flash(@conn, :success) %></p>
    <p class="alert alert-warning text-center" role="alert"><%= get_flash(@conn, :warning) %></p>
    <p class="alert alert-danger text-center" role="alert"><%= get_flash(@conn, :error) %></p>

    <%= render @view_module, @view_template, assigns %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= render_existing @view_module, "scripts.html", Map.put(assigns, :script_path, @conn.request_path) %>
  </body>
</html>
