/* This file is for your main application css. */
.alert:empty { display: none; }

.tweet {
  height: 10em;
  overflow: hidden;
}

.link-icon:hover {
  text-decoration: none;
}

.caution {
  background-color: #2D3237;
  color: white;
  border-radius: 4px;
}

.timeseries {
  stroke-width: 2;
  fill: none;
}

.observed {
  stroke: steelblue;
}

.predicted {
  stroke: firebrick;
}
