.map {
  border: 1px solid black;
  color: cornflower;
}

.boundary {
  fill: wheat;
  stroke: black;
  stroke-width: 1px;
}

.ocean {
  fill: lightBlue;
  stroke: azure;
  stroke-width: 5px;
}

.location {
  fill: orange;
}
