<h3>
  User
  <span class="pull-right">
    <%= link to: accounts_user_path(@conn, :edit, @user) do %>
      <i class="fa fa-edit btn btn-default"></i>
    <% end %>
  </span>
</h3>

<ul>

  <li>
    <strong>Name:</strong>
    <%= link @user.name, to: blog_article_path(@conn, :index) %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.credential.email %>
  </li>

</ul>
