.tweet {
  font-size: 14px;
  line-height: 20px;
  height: 10em;
  padding: 0 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.link-icon:hover {
  text-decoration: none;
}

.caution {
  background-color: #2D3237;
  border-radius: 4px;
  color: white;
  font-size: 12px;
}

.track {
  background-color: lighten(#FFC107, 25%);
  a {
    color: black;
    font-weight: normal;
  }
}

.emoji {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
