.digit .tooltip-inner {
  background-color: white;
  border: 1px solid #6c757d;
  color: #007bff;
  font: 24px sans serif;
}

.digit.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #6c757d;
}

.digit.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #6c757d;
}

.digit.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #6c757d;
}

.digit.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #6c757d;
}
