.digitcloud {
  width: 200px;
  height: 200px;
  border: 1px solid lightgrey;
}

.digit {
  border-radius: 7px;
}

.tooltip {
  font: 24px sans serif;
}

.tooltip-inner {
  background-color: white;
  fill: none;
  border: 1px solid #6c757d;
  color: #007bff;
}
