.node,
.root,
.leaf {
  fill: white;
  stroke: #6c757d;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #ffc107;
  stroke-width: 2px;
}

.leaf {
  fill: white;
  pointer-events: none;
}


.topic {
  font: 12px Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: middle;
  display: inline;
  fill: #343a40;
}

.term {
  font: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: middle;
  display: inline;
  fill: #343a40;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.g-fade-in {
  animation: fade 0.75s ease-in normal;
}

.bubble {
  fill: none;
  stroke: #6c757d;
}

.bubble-fade {
  fill: none;
  stroke: #6c757d;
  animation: fade ease-out 0.2s reverse;
}
