<h3>
  Show Page
  <span class="pull-right">
    <%= link to: cms_page_path(@conn, :edit, @page) do %>
      <i class="fa fa-edit btn btn-default"></i>
    <% end %>
  </span>
</h3>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @page.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @page.body %>
  </li>

  <li>
    <strong>Views:</strong>
    <%= @page.views %>
  </li>

  <li>
    <%= link author_name(@page), to: cms_author_path(@conn, :show, @page.author) %>
  </li>

</ul>
